@model ZH.Dbf.Restaurent
@{
    ViewBag.Title = "New Restaurent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <h2 class="text-center">New Restaurent</h2>
    <hr />
    <form action="/home/RegRestaurent" method="post" autocomplete="off">

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Restaurent Name</label>
            <div class="col-md-10">
                <input class="form-control" id="name" name="name" type="text" placeholder="Enter Restaurent Name" />
                @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="email">Email</label>
            <div class="col-md-10">
                <input class="form-control" id="email" name="email" type="text" placeholder="Enter Email" />
                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="password">Password</label>
            <div class="col-md-10">
                <input class="form-control" id="password" name="password" type="password" placeholder="Enter Password" />
                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="phone">Phone</label>
            <div class="col-md-10">
                <input class="form-control" id="phone" name="phone" type="text" placeholder="Enter phone number" />
                @Html.ValidationMessageFor(m => m.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="location">Location :</label>
            <div class="col-md-10">
                <select id="location" class="form-control" name="location">
                    <option value="0"> Select location</option>
                    <option value="banani"> banani</option>
                    <option value="bashundhora"> bashundhora</option>
                    <option value="kuratoli"> kuratoli</option>
                </select>
                @Html.ValidationMessageFor(m => m.location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register Now" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>